<%= simple_form_for :flickr, url: search_photos_path,
                             remote: true,
                             method: :get do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group flickr_search">
        <%= f.input :search_term,
                    label: false,
                    placeholder: "Enter something",
                    input_html: { class: "form-control" } %>
        <span class="input-group-btn">
          <%= f.button :submit, "Search", class: "btn btn-primary" %>
        </span>
      </div>
    </div>
  </div>
<% end %>