<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">We found some photos for "<%= "#{@search_term}" %>" </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <%= image_tag photo %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>