<div class="gallery">
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
      <% if @search_term.blank? %>
        <h5>We've found some recent photos because you didn't provide any keywords </h5>
      <% else %>
        <h5>We've found some photos for <strong>"<%= @search_term %>"</strong> </h5> 
      <% end %>
    </div> 
  </div>
  <div class="row photo_grid">
    <% @photos.each do |photo| %>
      <div class="col-xs-5 col-md-2 <%= "col-xs-offset-1" if @photos.index(photo) == 0 || @photos.index(photo) == 5 %>">
        <a href="#" class="thumbnail thumbnail_photo" id="thumbnail_<%= @photos.index(photo) %>">
          <%= image_tag photo, id: "photo_#{@photos.index(photo)}" %>
        </a>
      </div>
    <% end %>
  </div>
</div>
