<%= simple_form_for :photo, url: search_flickr_photos_path, method: :get, remote: true do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group flickr_search">
        <%= f.input :search_term,
                    label: false,
                    placeholder: 'Enter something',
                    input_html: { class: 'form-control', autofocus: true } %>
        <span class="input-group-btn">
          <%= f.button :submit, 'Search', class: 'btn btn-primary' %>
        </span>
      </div>
    </div>
  </div>
<% end %>